{% extends '::base.navbar.html.twig' %}
{% block body %}
    <div class="container margin-top">
        <div class="portlet light portlet-fit ">
            <div class="portlet-title">
                <div class="caption">
                    <i class=" icon-user font-green"></i>
                    <span class="caption-subject font-green bold uppercase">Students</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="mt-element-list">
                    <div class="mt-list-head list-simple font-white bg-blue">
                        <div class="list-head-title-container">
                            <div class="list-date">Nov 8, 2015</div>
                            <h3 class="list-title">List All Students</h3>
                        </div>
                    </div>
                    <div class="mt-list-container list-simple">
                        <ul>
                            {% for student in students %}
                                <li class="mt-list-item">
                                    <div class="list-icon-container done">
                                        <i class="icon-check"></i>
                                    </div>
                                    <div class="list-datetime danger">
                                        <a href="{{ path('student_delete',{id:student.id}) }}">
                                            <i class="icon-trash" title="Delete"></i>
                                        </a>
                                    </div>
                                    <div class="list-item-content">
                                        <h3 class="uppercase">
                                            {{ student.firstName }}  {{ student.lastName }}
                                        </h3>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}